#topbar
  background white
  position fixed
  top 0
  left 0
  width 100%
  height $topbarHeight
  color $steel
  z-index 2
  border-bottom 1px solid #f6f6f6
  .inner
    display flex
    align-items center
    max-width $containerWidth
    margin 0 auto
    padding 20px
    > :not(:last-child)
      margin-right 25px
  a
    color inherit
    text-decoration none
  .logo
    display inline-block
    height $topbarHeight - 40
    line-height $topbarHeight - 40
    width 100px
    background orangered
    text-align center
    color white
  .rc-menu
    display inline-block
    list-style none
    flex 1
    padding 0
    margin 0
    .rc-menu-item
      display inline-block
      margin-right 20px
      .active
        color orangered
