@import 'vendor/normalize.css'
@import 'colours'
@import 'sizes'

body
  background white
  color #333
  font-family sans-serif
  box-sizing border-box
  *, *:before, *:after
    box-sizing inherit

#main
  max-width $containerWidth
  margin 0 auto
  margin-top $topbarHeight
  padding 20px

h1
  font-weight 300

a
  color $link
  text-decoration none

.page-actions
  text-align right
  position absolute
  top -3.6em
  right 0

@import 'components/buttons'
@import 'components/topbar'
@import 'components/table'
@import 'components/chatMessage'

@import 'pages/login-page'
