@import 'vendor/normalize.css'
@import 'colours'
@import 'sizes'

body
  background white
  color #333
  font-family sans-serif
  box-sizing border-box
  *, *:before, *:after
    box-sizing inherit

#topbar
  background $steel
  position fixed
  top 0
  left 0
  width 100%
  height $sidebarWidth
  padding 20px
  color white
  a
    color inherit
    text-decoration none
  .logo
    height $sidebarWidth - 40
  .logout
    position absolute
    top 0
    right 0
    padding 30px

#main
  margin-top $sidebarWidth
  padding 20px

@import 'pages/login-page'
